<f:layout name="Default" />

<f:section name="Title">Dashboard of Neo4j</f:section>

<f:section name="Content">

    <f:flashMessages />
    <div class="jumbotron">
        <h1 class="display-4">List customers</h1>
        <p class="lead">This is a list view of the customers.</p>
    </div>

    <f:if condition="{customers}">
        <f:then>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Login</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{customers}" as="customer" iteration="customerIterator">
                    <tr>
                        <th scope="row">{customerIterator.cycle}</th>
                        <td>{customer.name}</td>
                        <td>{customer.login}</td>
                        <td>
                            <a href="{f:uri.action(action:'show', controller:'Customer', arguments:'{customer:customer.id}')}"
                               class="btn btn-outline-primary btn-sm">
                                <i class="fa fa-eye"></i> Show
                            </a>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </f:then>
        <f:else>
            <div class="alert alert-warning">
                I'am afraid. No customers were found.
            </div>
        </f:else>
    </f:if>

    <div class="row mt-5">
        <div class="col-lg-6">
            <h2>
                <a href="{f:uri.action(action:'list', controller:'Customer')}" class="nav-link">
                    <i class="fa fa-shopping-cart"></i> Customer
                </a>
            </h2>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <f:render partial="Customer/New" arguments="{newCustomer:newCustomer}" />
                </div>
            </div>
        </div>
    </div>
</f:section>