<f:layout name="Default" />

<f:section name="Title">Dashboard of Neo4j</f:section>

<f:section name="Content">

    <f:flashMessages />
    <div class="jumbotron">
        <h1 class="display-4">List employees</h1>
        <p class="lead">This is a list view of the employees.</p>
    </div>

    <f:if condition="{employees}">
        <f:then>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Born</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{employees}" as="employee" iteration="employeeIterator">
                    <tr>
                        <th scope="row">{employeeIterator.cycle}</th>
                        <td>{employee.name}</td>
                        <td>{employee.born}</td>
                        <td>
                            <a href="{f:uri.action(action:'show', controller:'Employee', arguments:'{employee:employee.id}')}"
                               class="btn btn-outline-primary btn-sm">
                                <i class="fa fa-eye"></i> Show
                            </a>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </f:then>
        <f:else>
            <div class="alert alert-warning">
                I'am afraid. No employees were found.
            </div>
        </f:else>
    </f:if>

    <div class="row mt-5">
        <div class="col-lg-6">
            <h2>
                <a href="{f:uri.action(action:'list', controller:'Employee')}" class="nav-link">
                    <i class="fa fa-users"></i> Employee
                </a>
            </h2>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <f:render partial="Employee/New" arguments="{newEmployee:newEmployee}" />
                </div>
            </div>
        </div>
    </div>
</f:section>